<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "Mapper" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.themembers.common.mapper.MemberMapper">
	<select id="findAll" resultType="member">
		SELECT * FROM MEMBER
	</select>
	
	<select id="findAlltest" resultType="hashmap">
		SELECT * FROM MEMBER
	</select>
	
	<insert id="create" parameterType="map">
		INSERT INTO MEMBER VALUES(DEFAULT,#{memName},#{memId},#{memPwd},#{memTel},#{memGender},#{memBirth},DEFAULT,DEFAULT,"Y",DEFAULT,#{updUser},#{mailYn},#{snsYn},#{memNick})
	</insert>
	
	<insert id="createTest" parameterType="com.themembers.common.dto.MemberDTO">
		INSERT INTO MEMBER VALUES(DEFAULT,#{memName},#{memId},#{memPwd},#{memTel},#{memGender},#{memBirth},DEFAULT,DEFAULT,"Y",DEFAULT,#{updUser},#{mailYn},#{snsYn},#{memNick})
	</insert>
</mapper>
