<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "Mapper" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.themembers.common.mapper.MemberMapper">
	<select id="findAll" resultType="memberVO">
		SELECT * FROM MEMBER
	</select>
	
	<insert id="create" parameterType="map">
		INSERT INTO MEMBER VALUES(DEFAULT,#{NAME},#{ID},#{PWD},#{PHONE},#{GENDER},#{BIRTH},DEFAULT,DEFAULT,"Y",DEFAULT,#{UPD_USER},#{MAIL_YN},#{SNS_YN},#{NICKNAME})
	</insert>
</mapper>
