<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "MybatisConfig" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="memberVO" type="com.themembers.member.Member"/>
	</typeAliases>

	<mappers>
		<mapper resource="MemberMapper.xml"/>
	</mappers>
</configuration>
