@chareset 'UTF-8';

label,
select{
  display:block;
  width:50%;
  overflow:hidden;
}
label>span{
  display:block;
  width:32%;
  float:left;
  clear:both;
  text-align:right;
}
label>input{
  display:block;
  width:62%;
  float:right;
}
select,
label[for="snsYn"]>*,
label[for="mailYn"]>*{
  width:auto;
}
label[for="snsYn"],
label[for="mailYn"]{
  width:auto;
  float:right;
  font-size:14px;
}
select{
  float:left;
  margin-left:5%;
}
